body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	-webkit-font-smothing: subpixel-antialiased;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 40;
	background: rgba(0, 0, 0, 0.3);
}

.modal-overlay.action-enter {
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
}

.modal-overlay.action-enter-active {
	opacity: 1;
}

.modal-overlay.action-leave {
	opacity: 1;
	-webkit-transition: opacity 0.5s ease;
}

.modal-overlay.action-leave-active {
	opacity: 0;
}

.action-modal {
	padding: 20px;
	position: fixed;
	left: 50%;
	top: 50%;
	background: #fff;
	-webkit-transform: translateY(-50%) translateX(-50%);
}

.modal-overlay.action-enter-active .action-modal {
	-webkit-animation: modalEnter 0.5s ease 0 1 forwards;
}

.modal-overlay.action-leave-active .action-modal {
	-webkit-animation: modalEnter 0.5s ease 0 1 reverse forwards;
}

.action-modal h4 {
	font-size: 18px;
	display: block;
	margin: 0 0 10px 0;
	padding: 0 0 10px;
	border-bottom: 1px solid #E3E3E3;
}

.action-modal input[type='text'],
.action-modal textarea,
.action-modal select
 {
	display: block;
	width: 300px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #E3E3E3;
	outline: none;
	padding: 0 15px;
	box-sizing: border-box;
	font-weight: 400;
	margin: 0 0 10px 0;
	opacity: 0.99;
}

.action-modal textarea {
	height: 80px;
	padding: 15px;
	line-height: 18px;
	opacity: 0.99;
}

.action-modal input[type='text']:focus,
.action-modal textarea:focus {
	border-color: #B2B6C0;
}

.action-modal button.confirm {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	background: #18AF66;
	border: none;
	outline: none;
	float: right;
	color: #fff;
	opacity: 0.99;
}

.action-modal button.confirm:hover {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	background: #18AF66;
	border: none;
	outline: none;
	float: right;
	color: #fff;
	opacity: 0.8;
}

.action-modal button.confirm i {
	margin-right: 5px;
}

.action-modal a.cancel {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0;
	color: #B7B8BA;
	float: left;
	opacity: 0.99;
}

@-webkit-keyframes modalEnter {
	0%{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(0.8);
	}
	70% {
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1.05);
	}
	100% {
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
	}
}

