main > .content-area {
	position: fixed;
	height: calc(100% - 60px);
	width: calc(100% - 40px);
	top: 60px;
	left: 220px;
	z-index: 10;
	background: #fff;
	overflow: scroll;
	padding: 0 10px 10px 0;
	box-sizing: border-box;
	-webkit-transition: -webkit-transform .3s ease;
	-webkit-transform: translateX(-180px);
}

main > aside:hover ~ .content-area {
	-webkit-transform: translateX(0px);
}

main > .content-area article {
	width: 25%;
	background: transparent;
	float: left;
	box-sizing: border-box;
	padding: 10px 0 0 10px;
}

main > .content-area article > div {
	background: #fcfcfc;
	border-radius: 3px;
	height: calc(120vw / 4);
	position: relative;
}

main > .content-area article figure {
	height: calc((120vw / 4)/2);
	background: #F0ECF4
}

main > .content-area article .title {
	display: block;
	margin: 0;
	font-size: 18px;
	font-weight: 200;
	padding: 20px;
	text-decoration: none;
	color: #444;
}

main > .content-area article p {
	display: block;
	color: #444;
	padding: 0 20px;
	font-size: 14px;
	margin: 0;
}
