body {
  font-size: 14px;
}

main > .content-area {
  position: fixed;
  top: 60px;
  left: 260px;
  border-bottom: 1px solid #E3E3E3;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
  overflow: scroll;
  width: calc(100% - 260px);
  height: calc(100% - 60px);
}

main > .content-area .errmsg {
  padding: 10px;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  background: #F2F2F2;
  position: absolute;
  box-sizing: border-box;
}

main > .content-area article {
  width: calc( (100% - 40px)/3 );
  margin: 0 0 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  float: left;
  border: 1px solid #f7f7f7;
}

main > .content-area .item-enter
 {
  -webkit-transition: -webkit-transform 0.5s ease,
                      opacity 0.5s ease;
  -webkit-transform: translateY(50px);
  opacity: 0;
}

main > .content-area .item-enter-active {
  -webkit-transform: translateY(0px);
  opacity: 1;
}

main > .content-area .item-leave {
  -webkit-transition: opacity 1ms ease; /* Because ReactCSSTransition not working correct */
}

main > .content-area .item-leave-active {
  opacity: 0;
  -webkit-transform: translateY(0px);
}

main > .content-area article h2 {
  display: block;
  margin: 0 0 10px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.99;
}

main > .content-area article h2 a {
  text-decoration: none;
  color: #646871;
  font-weight: 300;
  font-size: 22px;
}

main > .content-area article p {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.99;
}

main > .content-area article footer {
  margin: 10px -10px -10px -10px;
  background: #f7f7f7;
  padding: 10px;
  height: 22px;
}

main > .content-area article footer button {
  display: block;
  padding: 4px;
  background: transparent;
  border: none;
  outline: none;
  color: #646871;
  float: right;
  opacity: 0.5;
  margin-left: 2px;
  -webkit-transition: opacity 0.3s ease;
}
main > .content-area article footer button:hover {
  opacity: 1;
}
