main > header {
	position: fixed;
	height: 60px;
	width: calc(100% - 40px);
	top: 0;
	left: 220px;
	z-index: 20;
	background: #fafafa;
	border-bottom: 1px solid #f0f0f0;
	-webkit-transition: -webkit-transform .3s ease;
	-webkit-transform: translateX(-180px);
}

main > aside:hover ~ header {
	-webkit-transform: translateX(0px);
}

main > header .search-input {
	width: 200px;
	height: 40px;
	margin: 10px;
	outline: none;
	border: 1px solid #dadada;
	border-radius: 3px;
	padding: 0 10px;
	box-sizing: border-box;
	color: #444;
	font-weight: 200;
	-webkit-transition: width .3s ease;
}

main > header .search-input:focus {
	width: 400px;
}